html {
    background-color: black;
}

#scroll_host {
    overflow: hidden;
    width: 100px;
}

#scroller {
    animation: scroll 5s linear infinite; 
    white-space: nowrap;
    width: 100%;
}
@keyframes scroll {
    0%   { 
        transform: translateX(101px); 
    }
    100% { 
        transform: translateX(-100%); 
    }
}

.character {
    margin-right: 1px; 
    margin-bottom: 1px; 
}